* {
  transition: 0.2s;
  color: #a9b1d6;
}

#window {
  background-color: #1a1b26;
  background-position: 50% 30%;
  background-size: auto 250%;
  border-radius: 20px;
}

#input {
  border-radius: 50px;
  margin: 0 10px 10px 10px;
  padding: 12px 20px;
  background-color: #24283b;
  color: #a9b1d6;
  border: 1px solid #414868;
}

#outer-box {
  padding: 10px;
  color: #c0caf5;
  font-family: "Iosevka Nerd Font", Hind;
  font-weight: 600;
  font-size: 14px;
}

expander {
  background-color: rgba(26, 27, 38, 0);
  color: #a9b1d6;
}

#entry {
  margin: 5px 40px;
  padding: 10px 10px;
  border-radius: 100px;
  background-color: #24283b;
}

#entry:selected {
  background-color: rgba(65, 72, 104, 0.5);
}

#entry:hover {
  color: #7aa2f7;
}
