@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
  body {
    background: url(wallhaven-jxv63y.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
  }
}
