@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* .outer-wrapper { */
/*   background: url(1.png) !important; */
/*   background-repeat: no-repeat !important; */
/*   background-size: 2560px 1440px !important; */
/*   background-position: bottom right !important; */
/*   background-attachment: fixed !important; */
/* } */
#tabbrowser-tabs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("wallhaven-d5w273.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 10px !important;
  margin-left: 1px !important;
}

/* * { */
/* 	font-family: "azukifontP" !important; */
/* } */
